<section id="home" >

  <!--<div  ng-controller="homepageController">-->
    <!--{{ firstName + " " + lastName }}-->

  <!--</div>-->
  <img src="_view/Home/logo_main.png" id="home-logo">
  <p id="home-description">Experience Therapy Through Music</p>
  <div id="home-links">
    <div id="home-link">
      <a href="#!/therapists">
        <img src="_view/Home/home_patients.png" id="home-img">
        <p id="home-p">Start Therapy</p>
      </a>
    </div>
    <div id="home-link">
      <a href="programs.html">
        <img src="_view/Home/home_programs.png" id="home-img">
        <p id="home-p">Start Demo</p>
      </a>
    </div>
    <!--<div id="home-link">-->
      <!--<a href="charts.html">-->
        <!--<img src="_view/Home/home_charts.png" id="home-img">-->
        <!--<p id="home-p">Charts</p>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div id="home-link">-->
      <!--<a href="sound.html">-->
        <!--<img src="_view/Home/home_controlers.png" id="home-img">-->
        <!--<p id="home-p">Controllers</p>-->
      <!--</a>-->
    <!--</div>-->
  </div>
</section>
