doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="program1-style-dist.css" type="text/css")
	body
		section#program-main-1
			div#program1-row.row.justify-content-center
				div#three-divs.col-11
					div#three-divs-row.row.justify-content-around
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							img(src="img/not-real-program1-img.jpg")#program1-img
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							p#program1-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							img(src="img/not-real-program1-img.jpg")#program1-img
			div#program1-row.row.justify-content-center
				div#three-divs.col-11
					div#three-divs-row.row.justify-content-around
						div#program1-body.col-7
							p#program1-description
								b Activity:
								br
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
							p#program1-description
								b Content response:
								br
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy