doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="programs-style-dist.css" type="text/css")
	body
		section#programs
			div#programs-row.row.justify-content-center
				div#three-p.col-11
					div#three-p-row.row
						a(href="#")#program-link.col-4
							div#program-body
								p#program-header Fun tropical escapes
								hr#program-hr
								p#program-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								img(src="img/clock-icon.png")#program-clock
								p#program-time 1 hr
								img(src="img/not-real-program-img.jpg")#program-img
						a(href="#")#program-link.col-4
							div#program-body
								p#program-header Fun tropical escapes
								hr#program-hr
								p#program-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								img(src="img/clock-icon.png")#program-clock
								p#program-time 1 hr
								img(src="img/not-real-program-img.jpg")#program-img
						a(href="#")#program-link.col-4
							div#program-body
								p#program-header Fun tropical escapes
								hr#program-hr
								p#program-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
								img(src="img/clock-icon.png")#program-clock
								p#program-time 1 hr
								img(src="img/not-real-program-img.jpg")#program-img