/* Home Section */
section#home{
	background-color: #2D3957;
	text-align: center;
    height: 725px;
}

img#home-logo{
	margin: 130px auto 0;
}

p#home-description{
	font-size: 30px;
	font-weight: 200;
	margin: 15px 0 80px;
	color: white;
}

div#home-link{
	display: inline-block;
}

p#home-p{
	font-size: 22px;
	margin: -10px 0 0;
	color: white;
}