doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="home-style-dist.css" type="text/css")
	body
		section#home
			img(src="img/logo_main.png")#home-logo
			p#home-description Experience Therapy Through Music
			div#home-links
				div#home-link
					img(src="img/home_patients.png")#home-img
					p#home-p Patients
				div#home-link
					img(src="img/home_programs.png")#home-img
					p#home-p Programs
				div#home-link
					img(src="img/home_charts.png")#home-img
					p#home-p Charts
				div#home-link
					img(src="img/home_controlers.png")#home-img
					p#home-p Controlers