doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="full-program1-style-dist.css" type="text/css")
	body
		section#topbar
			a(href="#")
				img(src="img/topbar_back.png")#topbar-back.topbar-thing
			img(src="img/topbar_logo.png")#topbar-logo.topbar-thing
			p#topbar-header.topbar-thing Program: Fun tropical escapes
			a(href="#")
				img(src="img/topbar_search.png")#topbar-search.topbar-thing
			a(href="#")
				img(src="img/topbar_bell.png")#topbar-notifications.topbar-thing
			p#topbar-patient-name.topbar-thing Yuval Goldschmidt
			img(src="img/not-real-profile-picture.jpg")#topbar-patient-img.topbar-thing

		section#sidebar
			a(href="#")#sidebar-link
				div#sidebar-stop-div
					img(src="img/stop_program.png")#sidebar-stop-img
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_program_off.png")#sidebar-link-img
					p#sidebar-link-text Program
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_charts_off.png")#sidebar-link-img
					p#sidebar-link-text Charts
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_sound_off.png")#sidebar-link-img
					p#sidebar-link-text Sound Control
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_info_off.png")#sidebar-link-img
					p#sidebar-link-text Patient Info

		section#program-main-1
			div#program1-row.row.justify-content-center
				div#three-divs.col-11
					div#three-divs-row.row.justify-content-around
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							img(src="img/not-real-program1-img.jpg")#program1-img
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							p#program1-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							img(src="img/not-real-program1-img.jpg")#program1-img
			div#program1-row.row.justify-content-center
				div#three-divs.col-11
					div#three-divs-row.row.justify-content-around
						div#program1-body.col-7
							p#program1-description
								b Activity:
								br
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
							p#program1-description
								b Content response:
								br
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
						div#program1-body.col-3
							p#program1-header Fun tropical escapes
							hr#program1-hr
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy
							a(href="#")#program1-links
								div#program1-div-links
									p#program1-p-links Physical Therapy