doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="topbar-style-dist.css" type="text/css")
	body
		section#topbar
			a(href="#")
				img(src="img/topbar_back.png")#topbar-back.topbar-thing
			img(src="img/topbar_logo.png")#topbar-logo.topbar-thing
			p#topbar-header.topbar-thing Program: Fun tropical escapes
			img(src="img/not-real-profile-picture.jpg")#topbar-patient-img.topbar-thing
			p#topbar-patient-name.topbar-thing Yuval Goldschmidt
			a(href="#")
				img(src="img/topbar_bell.png")#topbar-notifications.topbar-thing
			a(href="#")
				img(src="img/topbar_search.png")#topbar-search.topbar-thing