doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="patients-style-dist.css" type="text/css")
	body
		section#patients
			div#patients-row.row.justify-content-center
				div#three-p.col-11
					div#three-p-row.row
						a(href="#")#patient-link.col-4
							div#patient-body.row
								img(src="img/not-real-profile-picture.jpg")#patient-picture.col-6
								p#patient-name.col-6 Yuval
									br
									|	Goldschmidt
						a(href="#")#patient-link.col-4
							div#patient-body.row
								img(src="img/not-real-profile-picture.jpg")#patient-picture.col-6
								p#patient-name.col-6 Yuval
									br
									|	Goldschmidt
						a(href="#")#patient-link.col-4
							div#patient-body.row
								img(src="img/not-real-profile-picture.jpg")#patient-picture.col-6
								p#patient-name.col-6 Yuval
									br
									|	Goldschmidt